$base-color: rgb(93, 179, 179);
$grey-color: rgb(160, 160, 160);
$dark-grey-color: rgb(80, 80, 80);
$font: "Roboto", monospace;
$font2: "Raleway", sans-serif;
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

// RESPO VARIABLES

$smartphone: "only screen and (max-width : 400px)";
$midscreens: "only screen and (max-width : 800px)";
$fullscreens: "only screen and (max-width : 1215px)";

// CODE
html body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
}

body {
  .pages {
    .one {
      header {
        .wrap {
          display: flex;
          .content {
            width: 100%;
            float: left;
            height: 120px;
            .logo {
              img {
                width: 30px;
                margin-right: 10px;
              }
              display: inline-flex;
              font-weight: 900;
              float: left;
              font-size: 2.5rem;
              font-style: italic;
              padding: 25px;
              margin-left: 110px;
              margin-top: 45px;
              font-family: $font2;
              text-transform: uppercase;
              color: $dark-grey-color;
              transition-duration: 0.5s;
              @media #{$fullscreens} {
                align-items: center;
                width: 100%;
                padding: 0;
                margin: 0;
                margin-top: 50px;
                justify-content: center;
              }
            }
            .logo:hover {
              color: $base-color;
            }
          }
          .container {
            width: 100vw;
            .menu {
              ul {
                display: inline-flex;
                list-style: none;
                font-weight: 500;
                float: right;
                font-size: 1.7rem;
                margin-top: 75px;
                margin-right: 10vw;
                color: $grey-color;
                font-family: $font;
                text-transform: uppercase;
                // @media #{$smartphone} {
                // }
                // @media #{$midscreens} {
                // }
                @media #{$fullscreens} {
                  margin-top: 50px;
                  width: 100vw;
                  align-items: center;
                  justify-content: center;
                  float: left;
                  padding: 0px;
                  font-weight: 500;
                  color: $dark-grey-color;
                }
                li {
                  @media #{$smartphone} {
                    margin-left: 0;
                    padding: 0;
                  }
                  // @media #{$midscreens} {
                  // }
                  // @media #{$fullscreens} {
                  // }
                  margin-left: 2.5vw;
                  padding: 0;
                  padding-top: 0;
                  transition-duration: 0.333s;
                }
                li:first-child {
                  color: $dark-grey-color;
                }
                li:hover {
                  color: $dark-grey-color;
                }
              }
            }
          }
        }
      }

      .main {
        display: inline-flex;
        float: left;
        .wrap {
          height: 72.5vh;
          width: 100vw;
          .content {
            margin: 115px;
            margin-top: 155px;
            @media #{$fullscreens} {
              margin-top: 125px;
            }
            .title {
              @media #{$fullscreens} {
                margin-bottom: 5px;
              }
              font-size: 8.5rem;
              float: left;
              font-weight: 100;
              width: 100%;
              color: $base-color;
              margin-bottom: 15px;
            }
            .sidebar {
              background: url("/images/bg.jpg");
              width: 75vw;
              height: 805px;
              background-size: cover;
              background-repeat: no-repeat;
              transform: translateX(450px) translateY(-275px);
              position: absolute;
              float: right;
              z-index: -1;
              @media #{$fullscreens} {
                width: 75vw;
                height: 500px;
                transform: translateX(250px) translateY(0px);
              }
            }
            .info {
              @media #{$fullscreens} {
                margin-bottom: 5px;
              }
              margin-bottom: 45px;
              margin-left: 0;
              padding-right: 100px;
              font-weight: 200;
              font-size: 1.75rem;
              font-family: $font;
              color: $grey-color;
            }
            .container {
              margin: 30px;
              font-family: monospace;
              font-size: 1.25rem;
              font-weight: 500;
              color: $grey-color;
              font-family: $font2;
              border-radius: 50px; //more than height of box
              display: inline-flex;
              padding: 15px;
              margin: 0;
              border: 2px solid $grey-color;
              transition-duration: 0.333s;
            }
            .container:hover {
              color: $base-color;
              transform: scale(1.05);
              border: 2px solid $base-color;
            }
          }
        }
      }

      footer {
        width: 100%;
        height: 120px;
        float: left;
        color: $dark-grey-color;
        background-color: white;
        .wrap {
          z-index: 10;
          padding-top: 25px;
          display: inline-flex;
          width: 100%;
          .inner-wrap {
            .container {
              .content {
                ul {
                  float: left;
                  margin-left: 5vw;
                  margin-right: 2.82vw;
                  list-style: none;
                  display: inline-flex;
                  li {
                    @media #{$fullscreens} {
                      margin: 0;
                      transform: translateX(-7.5vw);
                      width: 2vw;
                    }
                    width: 50px;
                    img {
                      width: 40px;
                      height: 40px;
                    }
                    padding: 15px;
                  }
                }
              }
            }
          }
          .inner-wrap {
            .container {
              .page_action {
                @media #{$fullscreens} {
                  margin-left: -7.5vw;
                }
                width: 1000px;
                position: absolute;
                margin-left: 7.5vw;
                font-family: monospace;
                color: $grey-color;
                font-size: 1.5rem;
                margin-top: 20px;
              }
            }
          }
          .inner-wrap {
            flex-grow: 2;
            .container {
              position: absolute;
              float: right;
              .sidebar {
                @media #{$fullscreens} {
                  font-size: 2rem;
                  margin-top: 25px;
                  // margin-right: -10vw;
                  margin-left: 27.5vw;
                }
                float: right;
                // margin-right: 12.5vw;
                margin-left: 25vw;
                font-size: 3.5rem;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
