@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
html body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw; }

body .pages .one header .wrap {
  display: flex; }
  body .pages .one header .wrap .content {
    width: 100%;
    float: left;
    height: 120px; }
    body .pages .one header .wrap .content .logo {
      display: inline-flex;
      font-weight: 900;
      float: left;
      font-size: 2.5rem;
      font-style: italic;
      padding: 25px;
      margin-left: 110px;
      margin-top: 45px;
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      color: #505050;
      transition-duration: 0.5s; }
      body .pages .one header .wrap .content .logo img {
        width: 30px;
        margin-right: 10px; }
        @media only screen and (max-width: 800px) {
          body .pages .one header .wrap .content .logo img {
            width: 50px; } }
      @media only screen and (max-width: 1215px) {
        body .pages .one header .wrap .content .logo {
          align-items: center;
          width: 100%;
          padding: 0;
          margin: 0;
          margin-top: 50px;
          justify-content: center; } }
      @media only screen and (max-width: 800px) {
        body .pages .one header .wrap .content .logo {
          font-size: 3.25rem; } }
    body .pages .one header .wrap .content .logo:hover {
      color: #5db3b3; }
  body .pages .one header .wrap .container {
    width: 100vw; }
    body .pages .one header .wrap .container .menu ul {
      display: inline-flex;
      list-style: none;
      font-weight: 500;
      float: right;
      font-size: 1.7rem;
      margin-top: 75px;
      margin-right: 10vw;
      color: #a0a0a0;
      font-family: "Roboto", monospace;
      text-transform: uppercase; }
      @media only screen and (max-width: 1215px) {
        body .pages .one header .wrap .container .menu ul {
          margin-top: 50px;
          width: 100vw;
          align-items: center;
          justify-content: center;
          float: left;
          padding: 0px;
          font-weight: 500;
          color: #505050; } }
      @media only screen and (max-width: 800px) {
        body .pages .one header .wrap .container .menu ul {
          font-size: 1.5rem; } }
      body .pages .one header .wrap .container .menu ul li {
        margin-left: 2.5vw;
        padding: 0;
        padding-top: 0;
        transition-duration: 0.333s; }
        @media only screen and (max-width: 800px) {
          body .pages .one header .wrap .container .menu ul li {
            padding: 0;
            margin-left: 20px;
            font-size: 1.3rem; } }
      body .pages .one header .wrap .container .menu ul li:first-child {
        color: #505050; }
      body .pages .one header .wrap .container .menu ul li:hover {
        color: #505050; }

body .pages .one .main {
  display: inline-flex;
  float: left; }
  body .pages .one .main .wrap {
    height: 72.5vh;
    width: 100vw; }
    body .pages .one .main .wrap .content {
      margin: 115px;
      margin-top: 155px; }
      @media only screen and (max-width: 800px) {
        body .pages .one .main .wrap .content {
          transform: translateX(-25px) translateY(-2.5vh); } }
      @media only screen and (max-width: 1215px) {
        body .pages .one .main .wrap .content {
          margin-top: 125px; } }
      body .pages .one .main .wrap .content .title {
        font-size: 8.5rem;
        float: left;
        font-weight: 100;
        width: 100%;
        color: #5db3b3;
        margin-bottom: 15px; }
        @media only screen and (max-width: 1215px) {
          body .pages .one .main .wrap .content .title {
            margin-bottom: 5px; } }
        @media only screen and (max-width: 800px) {
          body .pages .one .main .wrap .content .title {
            font-size: 7.5rem;
            margin-top: 5vh; } }
      body .pages .one .main .wrap .content .sidebar {
        background: url("/images/bg.jpg");
        width: 75vw;
        height: 805px;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateX(450px) translateY(-275px);
        position: absolute;
        float: right;
        z-index: -1; }
        @media only screen and (max-width: 1215px) {
          body .pages .one .main .wrap .content .sidebar {
            width: 75vw;
            height: 750px;
            transform: translateX(250px) translateY(0px); } }
        @media only screen and (max-width: 800px) {
          body .pages .one .main .wrap .content .sidebar {
            transform: translateX(200px) translateY(100px);
            height: 450px;
            width: 60vw; } }
      body .pages .one .main .wrap .content .info {
        margin-bottom: 45px;
        margin-left: 0;
        padding-right: 100px;
        font-weight: 200;
        font-size: 1.75rem;
        font-family: "Roboto", monospace;
        color: #a0a0a0; }
        @media only screen and (max-width: 1215px) {
          body .pages .one .main .wrap .content .info {
            margin-bottom: 5px; } }
      body .pages .one .main .wrap .content .container {
        margin: 30px;
        font-family: monospace;
        font-size: 1.25rem;
        font-weight: 500;
        color: #a0a0a0;
        font-family: "Raleway", sans-serif;
        border-radius: 50px;
        display: inline-flex;
        padding: 15px;
        margin: 0;
        border: 2px solid #a0a0a0;
        transition-duration: 0.333s; }
      body .pages .one .main .wrap .content .container:hover {
        color: #5db3b3;
        transform: scale(1.05);
        border: 2px solid #5db3b3; }

body .pages .one footer {
  width: 100%;
  height: 250px;
  float: left;
  color: #505050;
  background-color: white; }
  body .pages .one footer .wrap {
    z-index: 10;
    padding-top: 25px;
    display: inline-flex;
    width: 100%; }
    body .pages .one footer .wrap .inner-wrap .container .content ul {
      float: left;
      margin-left: 5vw;
      margin-right: 2.82vw;
      list-style: none;
      display: inline-flex; }
      body .pages .one footer .wrap .inner-wrap .container .content ul li {
        width: 50px;
        padding: 15px; }
        @media only screen and (max-width: 1215px) {
          body .pages .one footer .wrap .inner-wrap .container .content ul li {
            margin: 0;
            transform: translateX(-7.5vw);
            width: 2vw; } }
        body .pages .one footer .wrap .inner-wrap .container .content ul li img {
          width: 40px;
          height: 40px; }
          @media only screen and (max-width: 800px) {
            body .pages .one footer .wrap .inner-wrap .container .content ul li img {
              width: 25px;
              height: 25px;
              transform: translateX(-25px);
              margin-left: 20px;
              margin-top: 10px; } }
    body .pages .one footer .wrap .inner-wrap .container .page_action {
      width: 1000px;
      position: absolute;
      margin-left: 7.5vw;
      font-family: monospace;
      color: #a0a0a0;
      font-size: 1.5rem;
      margin-top: 20px; }
      @media only screen and (max-width: 1215px) {
        body .pages .one footer .wrap .inner-wrap .container .page_action {
          margin-left: -7.5vw; } }
      @media only screen and (max-width: 800px) {
        body .pages .one footer .wrap .inner-wrap .container .page_action {
          margin-left: -5vw;
          margin-top: 27.5px;
          font-size: 1.2rem; } }
    body .pages .one footer .wrap .inner-wrap {
      flex-grow: 2; }
      body .pages .one footer .wrap .inner-wrap .container {
        position: absolute;
        float: right; }
        body .pages .one footer .wrap .inner-wrap .container .sidebar {
          float: right;
          margin-left: 25vw;
          font-size: 3.5rem;
          text-align: center; }
          @media only screen and (max-width: 1215px) {
            body .pages .one footer .wrap .inner-wrap .container .sidebar {
              font-size: 2rem;
              margin-top: 25px;
              margin-left: 27.5vw; } }
          @media only screen and (max-width: 800px) {
            body .pages .one footer .wrap .inner-wrap .container .sidebar {
              transform: translateX(-2.5vw); } }
